body{
    font-family: 'Noto Sans JP', sans-serif;
	color: #eee;
    background-color: #243138;
}
.container{
	/*background-color: aqua;*/
}
.pane{
	/*height: 300px;*/
	padding: 10px;
	overflow: auto;
}
.green-name{
	color: #67F86F;
}
/*
#p1{
	background-color: #f17a7a31;
}
#p2{
	background-color: #faffad32;
}
#p3{
	background-color: #b0f5bb32;
}
*/
.user-input{
	color: #eee;
	background-color: #3f3f3f00;
	caret-color: pink;
	/*caret-shape: block;*/
	border: none;
	outline: none;
}
.input-shita{width: 100%;}


::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #fff;
	border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb{
	background: #ccc;
	border-radius: 10px;
	box-shadow: inset 0 0 0 2px #fff;
}